html {
    width: 90%;
    border: 1px solid #009de0;
    min-height: 100%;
    position: center;
    margin: 0 auto;
    margin-bottom: 10px;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100%;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* ---------- Header --------- */
#icbc-header {
    display: inline-block;
    background: linear-gradient(90deg, #009de0, #69DFE0);
    height: 100px;
    width: 100%;
    padding: 2.3% 2.3%;
}

#logo {
    float: left;
    height: 100%;
}

/* ---------- Body --------- */
.h1, h1 {
    color: #009de0
}
.h2, h2 {
    color: #444433
}
.h3, h3 {
    color: #009de0
}
.h4, h4 {
    color: #009de0
}




