.bg-success {
    width: 25%;
}


.input-container {
    display: flex;
    margin-bottom: 1rem;
}

#id-type * {
    display: inline;
    margin: auto 0;
    padding-right: 1rem;
}

.custom-file {
    width: 50%;
    color: #cccccc;

}

.custom-file-label {
    overflow: hidden;
}

.take-photo {
    margin-left: 1rem;
}