#welcome {
    font-family: 'Montserrat', sans-serif;
    color: #009de0;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 3%;
}

#what-to-do {
    text-align: center;
    margin-bottom: 3%;
}

.selection {
    display: block;
    border: 1px solid #009de0;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 2%;
    border-radius: 10px;
    color: #444433;
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary:visited {
    background-color: #009de0 !important;

}

.container{
    max-width: 100%;
    overflow: auto;
}

#help {
    float:right;
}