#enter-info {
    text-align: center;
    margin: 4em auto;
}

#enter-data, #enter-data .btn {
    width: 200px;
    margin:0 auto;
}

.container{
    max-width: 100%;
    overflow: auto;
}

#help {
    float:right;
}

h1 {
    float: left;
}