.container{
    max-width: 100%;
    overflow: auto;
}
.input-group-text{
    padding: .180rem .40rem;
}
p {
    margin-bottom: 0.80rem;
}
.form-control{
    padding: .180rem .40rem;
    max-width: 200px;
    margin-bottom: 10px;
}