.bg-success {
    width: 50%;
}

.input-group-text{
    padding: .180rem .40rem;
}
p {
    margin-bottom: 0.3rem;
    font-size: 14px;
}

.filled {
    padding-left: 10px;
    font-size: 14px;
}
.form-control{
    padding: .180rem .40rem;
    max-width: 200px;
    margin-bottom: 10px;
    font-size: 12px;
}

.radio-inline {
    margin-right: 1rem;
}